<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title> <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#eaea07" />
    <meta name="description" content="This is Freelance Introductory Website Made By Precise goals. ">
    <meta name="Author" content="Precise Goals">
    <meta name="image" content="https://cdn.discordapp.com/attachments/1080886691067338815/1098988740434727043/thumb2a.png">
    <meta name="Keywords" content="freelance, technology, Aspiration, Teenager, Google, SEO">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <div>
        This is Form
    </div>
</body>
</html>