* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
  caret-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none ;
}

body {
  background:#000000;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,p,h1,h2,h3,h4,h5,h6{
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
a {
  color: unset;
  font-family: tahoma;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
