.Footeract {
  background-color: black;
  text-decoration: none;
  z-index: 7;
}
.Footeract hr {
  border: 2px solid #a9a6a6;
  filter: drop-shadow(0px 0px 43rem indigo);
}
.Overley {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}
.row1 {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.row2,
.btmm {
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem 2rem;
}
.row3 {
  display: inline-flex;
  column-gap: 17%;
  flex-direction: row;
  justify-content: space-between;
}
.coleft {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
}
.colright {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  text-align: center;
  font-family: var(--font-family);
  column-gap: 5%;
}
.Homeline,
.Aline,
.portline,
.blogline,
.reline {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}
.botright {
  padding: 0;
}
.socialicons {
  display: flex;
  column-gap: 8%;
  min-width: 30rem;
  margin-top: -1rem;
  flex-direction: row;
  align-items: center;
}
/* display and positionsing */

.coleft h1 {
  font-family: trebuchet ms, sans-serif;
  color: #fff;
  font-size: 320%;
  font-weight: 700;
}
.coleft h1 span {
  font-family: Trebuchet MS, sans-serif;
  color: #eaea07;
  font-weight: 700;
}
.coleft p {
  font-family: trebuchet ms, sans-serif;
  padding: 2rem 0rem 1rem 0rem;
  margin-right: 26%;
  font-weight: 900;
  color: #b0adb5;
  font-size: 111%;
  filter: drop-shadow(0px 0px 62rem purple);
}
.Homeline h4,
.Aline h4,
.portline h4,
.blogline h4,
.reline h4 {
  color: azure;
  margin-bottom: 4%;
  font-size: 130%;
  cursor: pointer;
  font-family: "arial", sans-serif;
}
.Homeline h4:hover,
.Aline h4:hover,
.portline h4:hover,
.blogline h4:hover,
.reline h4:hover {
  color: #ff005c;
}
.Homeline h5,
.Aline h5,
.portline h5,
.blogline h5,
.reline h5 {
  color: #a6a6a6;
  font-size: medium;
  cursor: pointer;
}
.Homeline h5:hover,
.Aline h5:hover,
.portline h5:hover,
.blogline h5:hover,
.reline h5:hover {
  color: #4e847f;
  font-size: medium;
}
.botleft p {
  font-weight: 500;
  font-size: 97%;
  font-family: tahoma, sans-serif;
  color: #a7bab7;
}
.botleft p span {
  color: #a7bab7;
}
.btmm button {
  padding: 0.3rem 1.5rem;
  color: #fff;
  background: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin-right: 2rem;
  filter: drop-shadow(1px 2px 17px #ff002f86);
  outline: none;
  border: 2px solid #ff002f;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  transition: 0.6s;
}
.btmm button:hover {
  background: #ff002f;
  transition: 0.6s;
  transform: translateX(3px);
}
.yt {
  color: red;
}
.in {
  color: rgb(255, 255, 255);
}
.dc {
  color: dodgerblue;
}
.insta {
  color: #fb0054;
}
.git {
  color: #3181d1;
}
.spoty {
  color: #19b419;
}
.repl {
  color: bisque;
}
.yt,
.in,
.dc,
.insta,
.git,
.spoty,
.repl {
  font-size: 210%;
  transition: transform 0.5s;
}
.yt:hover,
.insta:hover,
.spoty:hover,
.git:hover,
.dc:hover,
.repl:hover,
.in:hover {
  transform: translateY(-6px);
}
.enve {
  color: #7be2ff;
  margin-right: 3.8px;
}
.email p {
  color: #a7bab7;
  font-size: 116%;
  font-family: math;
  font-weight: 700;
  margin-bottom: 0.2%;
}
.email {
  padding: 0;
}
